.title {
    height: auto;
    width: auto;
    background-color: rgb(205, 213, 210);
    position: relative;
}

div audio{
    position: fixed;
    right: 50px;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: rgba(255, 248, 220, 0);
    display: flex;
    margin:100px 0px;
}

.box1 {
    background-color: rgba(229, 243, 243, 0.063);
    flex: 1;
}

.box2 {
    background-color: antiquewhite;
    font-family: "KaiTi";
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.5);
    flex: 3;
}

.box2-void{
    display: flex;
    position: relative;
    height: 160.78px;
}
.box3 {
    background-color: rgba(229, 243, 243,0.063);
    flex: 1;
}

.p1 {
    text-indent: 40px;
}

.box2-void img{
    display: block;
    margin: auto;
    
}

.pause{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 40px;
    color: gold;
}